<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="shortcut icon" href="/img/logos/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/img/logos/favicon.ico" type="image/x-icon">
    <title>{{#block "title"}}{{/block}}</title>

    {{#block "css"}}
    
    {{/block}}

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">    
    <link href="css/style.css" rel="stylesheet" />
</head>

<body>
    {{#block "content"}}
    

    {{/block}}


    <script
        src="https://code.jquery.com/jquery-3.6.1.slim.min.js"
        integrity="sha256-w8CvhFs7iHNVUtnSP0YKEg00p9Ih13rlL9zGqvLdePA="
        crossorigin="anonymous">
    </script>
    <script>
        $('.js-menu').on('click', function(e) {
            e.preventDefault(); $('.sidebar').addClass('open');
        });
        $('.js-close-menu').on('click', function(e) {
            e.preventDefault(); $('.sidebar').removeClass('open');
        });
    </script>

    {{#block "script"}}


    {{/block}}
    {{#block "modal"}}
    {{/block}}
</body>

</html>