{{#extend "layouts/page"}}

{{!-- Set the page title --}}
{{#content "title"}}Home{{/content}}
{{#content "css"}}

{{/content}}
{{!-- Set the page content --}}
{{#content "content"}}
<div class="layout">
    {{>"organisms/sidebar"}}

    <main class="layout__main">
        <div class="layout__content">
            {{>"organisms/header"}}
            <div>
                {{>"organisms/hero"}}
                <section class="block">
                    <header class="block__header">
                        <a class="block__link block__link--play" href="">{{>"atoms/play"}} <h2 class="block__title">Play {{>"atoms/chevron"}}</h2></a>
                    </header>
                    {{>"organisms/grid-card-trending" grid-card-title="Trending"}}
                    {{>"organisms/grid-card-trending" grid-card-title="Must Play"}}
                </section>
                <section class="block">
                    <header class="block__header">
                        <a class="block__link block__link--learn" href="">{{>"atoms/learn"}} <h2 class="block__title">Learn {{>"atoms/chevron"}}</h2></a>
                    </header>
                    {{>"organisms/grid-card-learn" grid-card-title="Must Have"}}
                </section>
                <section class="block">
                    <header class="block__header">
                        <a class="block__link block__link--enjoy" href="">{{>"atoms/enjoy"}} <h2 class="block__title">Enjoy {{>"atoms/chevron"}}</h2></a>
                    </header>
                    {{>"organisms/grid-video" grid-card-title="Trending Videos"}}
                </section>
                <section class="block">
                    <header class="block__header">
                        <a class="block__link block__link--fitness" href="">{{>"atoms/fitness"}} <h2 class="block__title">Fitness {{>"atoms/chevron"}}</h2></a>
                    </header>
                    {{>"organisms/grid-card-fitness" grid-card-title="Must Have"}}
                </section>
            </div>
            {{>"organisms/footer"}}
        </div>
    </main>
</div>


{{/content}}
{{#content "modal"}}
{{/content}}
{{#content "script"}}

{{/content}}
{{/extend}}