<!-- cookies -->
<div class="cookies capaAvisoPoliticaCookies_superior_mensajes" id="capaAvisoPoliticaCookies_superior_mensajes">
  <div class="cookies__content shadow-lg p-4">
    <div class="contenidoAvisoPoliticaCookies">
      <h5><i data-eva="shield-outline" aria-hidden="true"></i> <strong>Aviso Cookies!</strong></h5>
      <p class="mb-0">Utilizamos cookies propias y de terceros para mejorar nuestros servicios y mostrarle publicidad
        relacionada con sus preferencias mediante el análisis de sus hábitos de navegación.
        <span class="d-block d-md-inline mt-2 mt-lg-0">
          <a href="/politica-de-privacidad" target="_blank" class="btn btn-link btn-xs">
            Mas Info.</a>
          <a href="javascript:void(0);" id="id_boton_cerrar_aviso_pc" class="btn btn-primary btn-xs ms-2">
            Estoy de acuerdo</a>
        </span>
      </p>
    </div>
  </div>
</div>
<!-- .cookies -->