<!-- slider full screen video -->
<div id="webOkCarosuel-video" class="carousel carousel--full slide carousel-fade" data-interval="false" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#webOkCarosuel-video" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#webOkCarosuel-video" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#webOkCarosuel-video" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="text-center carousel-inner mx-auto">
        <div class="carousel__item carousel-item active">
          <video class="carousel__video" autoplay="autoplay" loop="loop" preload="auto" volume="0" muted="muted" poster="video/video-cover.webp">
            <source src="video/cover.mp4" type="video/mp4" allow="autoplay">
          </video>
          <div class="carousel-caption carousel-caption--full">
            <h2 class="carousel__title">Web profesional low cost</h2>
            <p class="carousel__subtitle">Si quieres tener presencia destacada en Internet sin una gran inversión, esta es tu mejor opción.</p>
            <a class="carousel__btn btn btn-secondary" href="">Contactar</a>
          </div>
        </div>
        <div class="carousel__item carousel-item">
          <img src="img/fill.webp" width="1562" height="514" loading="lazy" class="d-block w-100 h-100" alt="...">
          <div class="carousel-caption carousel-caption--full">
            <h2 class="carousel__title">Web profesional low cost 2</h2>
            <p class="carousel__subtitle">Si quieres tener presencia destacada en Internet sin una gran inversión, esta es tu mejor opción.</p>
            <a class="carousel__btn btn btn-secondary" href="">Contactar</a>
          </div>
        </div>
        <div class="carousel__item carousel-item">
          <video class="carousel__video" autoplay="autoplay" loop="loop" preload="auto" volume="0" muted="muted" poster="video/captura-video.jpg">
            <source src="video/video-castillo.mp4" type="video/mp4" allow="autoplay">
          </video>
          <div class="carousel-caption carousel-caption--full">
            <h2 class="carousel__title">Web profesional low cost</h2>
            <p class="carousel__subtitle">Si quieres tener presencia destacada en Internet sin una gran inversión, esta es tu mejor opción.</p>
            <a class="carousel__btn btn btn-secondary" href="">Contactar</a>
          </div>
        </div>
      </div>
</div>
<!-- !slider full screen video -->