<!-- contact section -->
<section class="contact-section">
    <div class="row m-0">
        <div class="col-lg-6 px-0">
            <div class="contact-section__map h-100">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3004.360032991245!2d1.3951869154184031!3d41.14849457928679!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a3f0571c67f3b9%3A0xbd03cbd109dbd83!2sCarrer%20del%20Crisantem%2C%205%2C%2043830%20Torredembarra%2C%20Tarragona!5e0!3m2!1ses!2ses!4v1567683038386!5m2!1ses!2ses" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
        <div class="col-lg-6 px-0">
            <div class="contact-section__side h-100">
                <h1 class="contact__title">Contacto</h1>
                <h3 class="contact__subtitle">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Dummy text of the
                    printing
                    and typesetting industry.
                </h3>
                <div class="mt-4">
                    {{>"molecules/_m-form-contact"}}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /.contact section -->