<!-- features con imagenes section -->
<section class="features">
    <div class="container">
        <div class="row features__list">
            {{#repeat count=3}}
            {{>"molecules/_m-card-features-full" 
                feature-img="card"
                feature-title="Administrable"
                feature-subtitle="No dependas de nadie!!!"
                feature-body="Dispones de un panel para administrar todos los textos,  imágenes y vídeos, opciones de menú y submenus, todo ello en un entorno fácil, usable y para los que no saben nada de informática."
                feature-icon="Automatiza tus facturas, presupuestos y proformas, completando campos automáticamente con tu información almacenada"
                feature-btn="saber mas"
            }}
            {{/repeat}}
        </div>
    </div>
</section>
<!-- features con imagenes section -->