<!-- features con imagenes fondo -->
<section class="features features--bg"  style="background-image: url(img/cage.webp); ">
    <div class="container">
        <header class="text-center">
            <h1 class="features__title fw-bold">
                Titulo de cabecera
            </h1>
            <h3 class="features__subtitle fw-bold">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus rhoncus euismod elit egestas tempor. Ut
                faucibus ex convallis semper tincidunt.
            </h3>
            <p class="features__body">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s. Lorem Ipsum is simply dummy text of the printing
                and
                typesetting industry. Lorem Ipsum has been. <a hrfe="" class="fw-bold no-deco">Leer más</a>.
            </p>
        </header>

        <div class="row features__list">
            {{#repeat count=2}}
            {{>"molecules/_m-card-features-horizontal" 
                feature-title="Administrable"
                feature-icon="checkmark-circle-2-outline"
                feature-body="Dispones de un panel para administrar todos los textos,  imágenes y vídeos, opciones de menú y submenus, todo ello en un entorno fácil, usable y para los que no saben nada de informática."
            }}
            {{>"molecules/_m-card-features-horizontal" 
                feature-title="Administrable"
                feature-icon="bookmark-outline"
                feature-body="Dispones de un panel para administrar todos los textos,  imágenes y vídeos, opciones de menú y submenus, todo ello en un entorno fácil, usable y para los que no saben nada de informática."
            }}
            {{>"molecules/_m-card-features-horizontal" 
                feature-title="Administrable"
                feature-icon="color-palette-outline"
                feature-body="Dispones de un panel para administrar todos los textos,  imágenes y vídeos, opciones de menú y submenus, todo ello en un entorno fácil, usable y para los que no saben nada de informática."
            }}
            {{/repeat}}
        </div>
    </div>
</section>
<!-- features con imagenes fondo -->