<!-- galeria -->
<div class="row gallery__list">
    <div class="gallery__item col-6 col-lg-3">
        <a data-fslightbox="demo-images" data-foo="bar" href="img/values.webp">
            <img src="img/gallery.webp" class="gallery__img img-fluid" loading="lazy" width="315" height="315"
                alt="" />
        </a>
    </div>
    <div class="gallery__item col-6 col-lg-3">
        <a data-fslightbox="demo-images" data-foo="bar" href="img/values.webp">
            <img src="img/gallery.webp" class="gallery__img img-fluid" loading="lazy" width="315" height="315" alt="" />
        </a>
    </div>
    <div class="gallery__item col-6 col-lg-3">
        <a data-fslightbox="demo-images" data-foo="bar" href="img/values.webp">
            <img src="img/gallery-2.webp" class="gallery__img img-fluid" loading="lazy" width="315" height="315" alt="" />
        </a>
    </div>
    <div class="gallery__item col-6 col-lg-3">
        <a data-fslightbox="demo-images" data-foo="bar" href="img/values.webp">
            <img src="img/gallery.webp" class="gallery__img img-fluid" loading="lazy" width="315" height="315" alt="" />
        </a>
    </div>
    <div class="gallery__item col-6 col-lg-3">
        <a data-fslightbox="demo-images" data-foo="bar" href="img/values.webp">
            <img src="img/gallery-2.webp" class="gallery__img img-fluid" loading="lazy" width="315" height="315" alt="" />
        </a>
    </div>
    <div class="gallery__item col-6 col-lg-3">
        <a data-fslightbox="demo-images" data-foo="bar" href="img/values.webp">
            <img src="img/gallery.webp" class="gallery__img img-fluid" loading="lazy" width="315" height="315" alt="" />
        </a>
    </div>
    <div class="gallery__item col-6 col-lg-3">
        <a data-fslightbox="demo-images" data-foo="bar" href="img/values.webp">
            <img src="img/gallery.webp" class="gallery__img img-fluid" loading="lazy" width="315" height="315" alt="" />
        </a>
    </div>
    <div class="gallery__item col-6 col-lg-3">
        <a data-fslightbox="demo-images" data-foo="bar" href="img/values.webp">
            <img src="img/gallery.webp" class="gallery__img img-fluid" loading="lazy" width="315" height="315" alt="" />
        </a>
    </div>
</div>
<!-- galleria de imagenes -->