<section class="hero mx-auto">
  <div class="container">
    <div class="hero__content row align-items-center">
      <div class="col-lg-6">
        <div class="hero__body">
          <h2 class="hero__title">Packs posicionamiento web</h2>
          <p class="hero__text fw-bold">
            Si quieres tener presencia destacada en Internet sin una gran inversión, esta es tu mejor opción.
          </p>
          <a class="hero__btn btn btn-primary" href="#">Contactar</a>
        </div>

      </div>
      <div class="col-lg-6 mt-5 mt-lg-0">
        <div id="webOkCarosuel" class="carousel slide carousel-fade" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#webOkCarosuel" data-bs-slide-to="0" class="active"
              aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#webOkCarosuel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#webOkCarosuel" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
          <div class="text-center carousel-inner mx-auto">
            <div class="carousel-item active">
              <img src="img/values.webp" width="606" height="472" class="img-fluid" alt="...">
            </div>
            <div class="carousel-item">
              <img src="img/values.webp" width="606" height="472" loading="lazy" class="img-fluid" alt="...">
            </div>
            <div class="carousel-item">
              <img src="img/values.webp" width="606" height="472" loading="lazy" class="img-fluid" alt="...">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>