<section class="prices">
  <div class="container">
    <div class="prices__content">
      <h2 class="prices__title fw-bold text-center">Plans & princing</h2>
      <p class="prices__subtitle fw-bold text-center">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus rhoncus
        euismod elit egestas tempor. Ut faucibus ex convallis semper tincidunt.
      </p>
      <div class="row prices__list">
        {{>"molecules/_m-card-prices-highlight" price-title="Basic Plan"
        price-subtitle="Here Goes Some Description" price-body="For 1 Month"
        price-amount="100€" price-btn="contactar" }} {{#repeat count=2}}
        {{>"molecules/_m-card-prices" price-title="Basic Plan"
        price-subtitle="Here Goes Some Description" price-body="For 1 Month"
        price-amount="100€" price-btn="contactar" }} {{/repeat}}
      </div>
    </div>
  </div>
</section>

<section class="prices prices--light">
  <div class="container">
    <div class="prices__content">
      <h2 class="prices__title fw-bold text-center">Plans & princing</h2>
      <p class="prices__subtitle fw-bold text-center">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus rhoncus
        euismod elit egestas tempor. Ut faucibus ex convallis semper tincidunt.
      </p>
      <div class="row prices__list">
        {{>"molecules/_m-card-prices-highlight" price-title="Basic Plan"
        price-subtitle="Here Goes Some Description" price-body="For 1 Month"
        price-amount="100€" price-btn="contactar" }} {{#repeat count=2}}
        {{>"molecules/_m-card-prices" price-title="Basic Plan"
        price-subtitle="Here Goes Some Description" price-body="For 1 Month"
        price-amount="100€" price-btn="contactar" }} {{/repeat}}
      </div>
    </div>
  </div>
</section>
