<section class="services">
    <div class="container">
        <div class="row">
            {{>"molecules/_m-card-services"
            services-icon="layers"
            services-title="Página web"
            services-subtitle="Web Profesional Low Cost"
            services-price="360,00€"
            }}
            {{>"molecules/_m-card-services"
            services-icon="message-circle"
            services-title="Página web"
            services-subtitle="Web Profesional Low Cost"
            services-price="250,00€"
            }}
            {{>"molecules/_m-card-services"
            services-icon="mic"
            services-title="Página web"
            services-subtitle="Web Profesional Low Cost"
            services-price="567,00€"
            }}
        </div>
    </div>
</section>