<section class="values values--light mx-auto">
    <div class="container">
        <div class="values__content row align-items-center">
            <div class="col-lg-6">
                <div class="values__body">
                    <h2 class="values__title fw-bold">Propuesta de valor completa en varias líneas</h2>
                    <p class="values__text">
                        Gestión de banners interiores, ampliable mediante módulos, descarga de documentos, formularios,
                        comentarios, redes sociales, optimizada para buscadores...
                    </p>
                    <a class="values__btn btn btn-primary" href="#">Contactar</a>
                </div>

            </div>
            <div class="col-lg-6 mt-5 mt-lg-0">
                <img src="img/values.webp" class="values__img img-fluid" loading="lazy" width="573" height="415" alt="">
            </div>
        </div>
    </div>
</section>

<!-- cambio de columnas en mobile -->
<section class="values values--light mx-auto">
    <div class="container">
        <div class="values__content row align-items-center">
            <div class="col-lg-6 order-1 order-lg-2">
                <div class="values__body">
                    <h2 class="values__title fw-bold">Cambio de columnas en mobile</h2>
                    <p class="values__text">
                        Gestión de banners interiores, ampliable mediante módulos, descarga de documentos, formularios,
                        comentarios, redes sociales, optimizada para buscadores...
                    </p>
                    <a class="values__btn btn btn-primary" href="#">Contactar</a>
                </div>

            </div>
            <div class="col-lg-6 order-2 order-lg-1 mt-5 mt-lg-0">
                <img src="img/values.webp" class="values__img img-fluid" loading="lazy" width="573" height="415" alt="">
            </div>
        </div>
    </div>
</section>

<section class="values mx-auto">
    <div class="container">
        <div class="values__content row align-items-center">
            <div class="col-lg-6">
                <div class="values__body">
                    <h2 class="values__title fw-bold">Propuesta de valor completa en varias líneas</h2>
                    <p class="values__text">
                        Gestión de banners interiores, ampliable mediante módulos, descarga de documentos, formularios,
                        comentarios, redes sociales, optimizada para buscadores...
                    </p>
                    <a class="values__btn btn btn-primary" href="#">Contactar</a>
                </div>

            </div>
            <div class="col-lg-6 mt-5 mt-lg-0">
                <img src="img/values.webp" class="values__img img-fluid" loading="lazy" width="573" height="415" alt="">
            </div>
        </div>
    </div>
</section>

<!-- cambio de columnas en mobile -->

<section class="values mx-auto">
    <div class="container">
        <div class="values__content row align-items-center">
            <div class="col-lg-6 order-1 order-lg-2">
                <div class="values__body">
                    <h2 class="values__title fw-bold">Cambio de columnas en mobile</h2>
                    <p class="values__text">
                        Gestión de banners interiores, ampliable mediante módulos, descarga de documentos, formularios,
                        comentarios, redes sociales, optimizada para buscadores...
                    </p>
                    <a class="values__btn btn btn-primary" href="#">Contactar</a>
                </div>

            </div>
            <div class="col-lg-6 order-2 order-lg-1 mt-5 mt-lg-0">
                <img src="img/values.webp" class="values__img img-fluid" loading="lazy" width="573" height="415" alt="">
            </div>
        </div>
    </div>
</section>