<section class="grid-card">
    <header class="grid-card__header">
        <h2 class="grid-card__title">
            {{grid-card-title}}
        </h2>
        <a href="" class="grid-card__more">
            See more {{>"atoms/chevron"}}
        </a>
    </header>
    <div class="grid-card__content">
        <div class="grid-card__item">
            {{>"molecules/card"
            card-title="Disney XD Villains Ahead!"
            card-image="game01"
            card-body="Doctor Doofenhmirtz did it again! Whit his new device, he is really fasterrrrr"
            }}
        </div>
        <div class="grid-card__item">
            {{>"molecules/card"
            card-title="Monster Hunting!"
            card-image="game02"
            card-body="Doctor Doofenhmirtz did it again! Whit his new device, he is really fasterrrrr"
            }}
        </div>
        <div class="grid-card__item">
            {{>"molecules/card"
            card-title="The Simpsons Matching Paris"
            card-image="game03"
            card-body="Doctor Doofenhmirtz did it again! Whit his new device, he is really fasterrrrr"
            }}
        </div>
    </div>
</section>