<aside class="sidebar">
    <header class="sidebar__header">
        
        {{>"atoms/logo"}}
        <button type="button" class="sidebar__close js-close-menu" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </header>
    <nav class="nav">
        <ul class="nav__content">
            <li class="nav__item">
                <a class="nav__link" href="">
                    <div >
                        <div>

                        </div>
                        <p>PLAY</p>
                    </div>
                    {{>"atoms/chevron"}}
                </a>    
            </li>
            <li class="nav__item">
                <a class="nav__link" href="">
                    <div >
                        <div>

                        </div>
                        <p>PLAY</p>
                    </div>
                    {{>"atoms/chevron"}}
                </a>    
            </li>
            <li class="nav__item">
                <a class="nav__link" href="">
                    <div >
                        <div>

                        </div>
                        <p>PLAY</p>
                    </div>
                    {{>"atoms/chevron"}}
                </a>    
            </li>
            <li class="nav__item">
                <a class="nav__link" href="">
                    <div >
                        <div>

                        </div>
                        <p>PLAY</p>
                    </div>
                    {{>"atoms/chevron"}}
                </a>    
            </li>
        </ul>
    </nav>

</aside>