<div class="features__col col-lg-4">
  <article class="card card-features text-center h-100">
    <a href="post.html">
      <img src="img/{{feature-img}}.webp" class="card-features__img card-features__img--big card-img-top img-fluid" alt="..." loading="lazy" width="414" height="260" />
    </a>
    <span class="badge card-features__badge position-absolute">{{feature-cat}}</span>
    <div class="card-features__body">
      <h3 class="card-features__title fw-bold"><a class="no-deco" href="post.html">{{feature-title}}</a></h3>
      <p class="card-features__text">{{feature-body}}</p>
    </div>
  </article>
</div>