<div class="blog__col col-lg-4">
  <article class="card-blog">
      <img src="img/{{blog-img}}.webp" alt="" class="card-blog__img img-fluid" loading="lazy" width="414" height="180">
      <h3 class="card-blog__title fw-bold">
        {{blog-title}}
      </h3>
      <p class="card-blog__text">
        {{blog-text}}
      </p>
      <a class="card-blog__link fw-bold d-flex text-uppercase align-items-center" href="post.html">{{blog-btn}} <i data-eva="arrow-forward" data-eva-height="16" data-eva-width="16" class="ms-1"></i></a>
  </article>
</div>