<div class="features__col col-lg-4">
  <article class="card card-features text-center">
    <img src="img/{{feature-img}}.webp" class="card-features__img card-img-top img-fluid" alt="..." loading="lazy" width="414" height="197" />
    <div class="card-features__body">
      <div class="card-features__icon">
        <i data-eva="settings"></i>
      </div>
      <h3 class="card-features__title fw-bold"><a class="no-deco" href="#">{{feature-title}}</a></h3>
      <h5 class="card-features__subtitle">{{feature-subtitle}}</h5>
      <p class="card-features__text">{{feature-body}}</p>
      <a class="card-features__btn btn btn-primary" href="#">{{feature-btn}}</a>
    </div>
  </article>
</div>
