<article class="card-products card text-center h-100">
    <img src="img/wine.webp" class="card-products__img card-img-top img-fluid" alt="..." loading="lazy" width="414" height="220">
    <span class="badge card-features__badge position-absolute">Categoria</span>
    <div class="card-products__body">
        <h3 class="card-products__title fw-bold"><a class="no-deco" href="product-details.html">Nombre producto</a></h3>
        <p class="card-products__text">Dispones de un panel para administrar todos los textos, imágenes y vídeos, opciones de menú y submenus, todo ello en un entorno fácil, usable y para los que no saben nada de informática.</p>
        <a class="card-products__btn btn btn-primary" href="product-details.html">Ver detalle</a>
    </div>
</article>