<div class="prices__col col-lg-4">
  <article class="card card-prices">
    <div class="card-prices__body">
      <h3 class="card-prices__title fw-bold">{{price-title}}</h3>
      <h5 class="card-prices__subtitle fw-bold">{{price-subtitle}}</h5>
      <p class="card-prices__text">{{price-body}}</p>
      <p class="card-prices__amount">{{price-amount}}</p>
      <ul class="card-prices__list list-unstyled">
        <li class="card-prices__item fw-bold d-flex align-items-center">{{>"atoms/_a-icon-check"}} <span class="ms-2">Free hand</span></li>
        <li class="card-prices__item fw-bold d-flex align-items-center">{{>"atoms/_a-icon-check"}} <span class="ms-2">Gym Fitness</span></li>
        <li class="card-prices__item fw-bold d-flex align-items-center">{{>"atoms/_a-icon-check"}} <span class="ms-2">Weight Loss</span></li>
        <li class="card-prices__item fw-bold d-flex align-items-center">{{>"atoms/_a-icon-check"}} <span class="ms-2">Personal trainer</span></li>
        <li class="card-prices__item fw-bold d-flex align-items-center">{{>"atoms/_a-icon-check"}} <span class="ms-2">Full pass</span></li>
      </ul>
      <a class="card-prices__btn btn btn-secondary" href="#">{{price-btn}}</a>
    </div>
  </article>
</div>
