<p class="contact__legal">
    <strong>AVISO DE CONFIDENCIALIDAD</strong><br />
    Tanto este mensaje como todos los posibles documentos adjuntos al mismo son confidenciales y están
    dirigidos exclusivamente a los destinatarios de los mismos. Por favor, si no eres uno de dichos
    destinatarios, notifícanos este hecho y elimina el mensaje de tu sistema. Queda prohibida la copia,
    difusión o revelación de su contenido a terceros sin el previo consentimiento por escrito de la empresa.
    En caso contrario, vulnerarás la legislación vigente.
</p>