<article class="card">
  <div class="card__media">
    <img src="img/game03.webp" alt="Card image" loading="lazy" />
  </div>

  <div class="card__content">
    <div>
      <div class="card__thumbnails">
        <img src="img/game03.webp" alt="Card image" />
      </div>
    </div>
    <div class="card__body">
      <h3 class="card__title">Card title</h3>
      <div class="card__actions">
        <div class="card__rating">
          {{>"atoms/rating" }}
        </div>
        <a href="" class="card__button">
          Get
        </a>
      </div>
      <p class="card__paragraph">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis error voluptatibus modi harum atque rem ipsam
        quas debitis nesciunt quibusdam facere ut, adipisci voluptatum accusantium fugiat. Laudantium magni porro
        doloribus.
      </p>
    </div>
  </div>
</article>