.contact {


    @include e("title") {
        margin-top: var(--spacing-00);
        margin-bottom: var(--spacing-00);
    }

    @include e("subtitle") {
        margin-top: var(--spacing-04);
        margin-bottom: var(--spacing-00);
        font-size: var(--ht-body-l);
        color: $primary-ligth;

        @media (min-width: 992px) {
            font-size: var(--ht-five);
        }
    }

    @include e("side") {
    
        @media (min-width: 992px) {
            padding-left: var(--spacing-09);
        }
    }

    @include e("main") {
        margin-top: var(--spacing-07);
        color: $primary-ligth;

        @media (min-width: 992px) {
            margin-top: var(--spacing-08);
        }
    }

    @include e("info") {
        text-decoration: none;
        font-size: var(--ht-body-l);
        font-weight: 700;
        color: $primary-ligth;
        
        @media (min-width: 992px) {
            font-size: var(--ht-five);

        }
    }

    @include e("icon") {
        svg {
            height: 58px;
            width: 58px;
            path {
                fill: $secondary;
            }
        }
    }

    @include e("catpcha") {
        font-size: var(--ht-four);
        line-height: 1;
    }

    @include e("map") {
        margin-top: var(--spacing-06);
    }

    @include e("legal") {
        margin-top: var(--spacing-08);
    }
}