.post {
    @include e("img") {
        border-radius: $border-radius-sm;
    }

    &-last {
        @include e("list") {
            margin-top: var(--spacing-06);
        }

        @include e("heading") {
            margin-bottom: var(--spacing-00);
        }

        @include e("item") {
            &+& {
                margin-top: var(--spacing-05);
            }
        }

        @include e("img") {
            border-radius: $border-radius-sm;
            width: 95px;
            height: 95px;

            @media (min-width: 992px) {
                width: 135px;
                height: 135px;
            }
        }

        @include e("title") {
            font-size: 21px;
            color: $primary-ligth;
        }

        @include e("text") {

            display: none;

            @media (min-width: 992px) {
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                font-size: var(--ht-body);
            }
        }

        @include e("link") {
            font-size: var(--ht-body-xs);
        }
    }
}