:root {
    --blue: #2fc4ee;
    --purple: #ba7bd5;
    --yellow: #f4d156;
    --green: #67c95d;
    --white: #fff;
    --grey: #4b4b4f;
    --light: #fdfdfd;
    --dark: #1a1a1a;
    --red: #d84848;
    --border-color: #E3E3E3;


    --border-sm: 8px;
    --border: 16px;


    --spacing-sm:   6px;
    --spacing:     10px;
    --spacing-md:  20px;
    --spacing-lg:  24px;
    --spacing-xl:  30px;
    --spacing-xxl: 32px;


    --font: 'Poppins', sans-serif;

    --sidebar-width: 250px;
}