@include b("contact-section") {
    padding-top: var(--spacing-09);
    padding-bottom: var(--spacing-07);

    @media (min-width: 992px) {
        padding-bottom: var(--spacing-07);
    }

    @include e("side") {
        background: $secondary;
        padding: var(--spacing-08) var(--spacing-04);
    
        @media (min-width: 992px) {
            padding: var(--spacing-08) var(--spacing-09);
        }
    }

    @include e("map") {
        min-height: 340px;
    }
}