@include b("cookies") {
    padding-left: 24px;
    padding-right: 24px;
    position: fixed;
    width: 100%;
    left: 0px;
    bottom: 16px;
    z-index: 2000;


    @media (min-width: 992px) {
        padding-left: 80px;
        padding-right: 80px;
        bottom: 30px;
    }

    @include e("content") {
        background-color: $white;
        border-radius: $border-radius-sm;
    }

}