@include b("carousel") {

  padding-bottom: 50px;

  @include e("content") {

    border-radius: $hero-border-radius;

    @media (min-width: 992px) {
      max-width: $max-width;
    }
  }

  @include e("item") {
    height: 514px;
  }

  @include m("full") {
    .carousel-item {
      height: 100vh;
    }

    .carousel-indicators {
      bottom: 60px;
    }
    .carousel-caption {
      top: 60%; 
    }
  }


  &-indicators {
    bottom: -12px;


    [data-bs-target] {
      width: 11px;
      height: 11px;
      margin-left: 4px;
      margin-right: 4px;
      background: $white;
      border-radius: 60px;
      border: 1.5px solid $primary;
      opacity: 1;

      @media (min-width: 992px) {
        width: 13px;
        height: 13px;
        margin-left: 6px;
        margin-right: 6px;
      }
    }

    .active {
      background: $primary;
    }

  }


  &-caption {
    width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @media (min-width: 992px) {
      width: 50%;
    }
  
  }

  @include e("title") {
    margin-bottom: var(--spacing-0);
    font-size: var( --spacing-06);
    font-weight: 700;
    @media (min-width: 992px) {
      font-size: var(--ht-three);
      font-weight: 900;
    }
  }

  @include e("subtitle") {
    margin-top: var(--spacing-05);
    margin-bottom: var(--spacing-0);
    font-size: var(--ht-body-l);

    @media (min-width: 992px) {
      font-size: var(--ht-five);
    }
  }

  @include e("btn") {
    margin-top: var(--spacing-05);
    margin-bottom: var(--spacing-0);
  }

  @include e("video") {
    bottom: 0px;
    top: 0px;
    height: auto;
    min-height: 100%;
    min-width: 100%;
    overflow: hidden;
    position: absolute;
    right: 0px;
    width: auto;
    z-index: -1000;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
}