

.footer {
    padding-top: var(--spacing-09);
    padding-bottom: var(--spacing-06);
    font-size: var(--ht-body-s);
    color: $primary;

    &-copyright {
        background: $secondary;
        margin-top: var(--spacing-07);
        padding: var(--spacing-04);
        border-radius: $border-radius-lg;
        font-size: var(--ht-body-s);
    }

    @include e("logo") {
        max-width: 140px;
    }

    @include e("item") {
       margin-top: var(--spacing-03);
       &:first-child {
        margin-top: var(--spacing-00);
       }
    }

    @include e("link") {
       text-decoration: none;
       &:hover {
           text-decoration: underline;
       }
    }

    @include e("icon") {
        svg {
            max-width: 30px;
        }
        path {
            fill: $primary;
        }

        &:hover {
            path {
                fill: $primary-ligth;
            }
        }
    }
}