@include b(hero) {
    margin-bottom: var(--spacing-xl);

    @media(max-width: 575.99px) {
        padding-left: var(--spacing);
        padding-right: var(--spacing);     
    }

    @include e(header) {
        margin-top: var(--spacing-md);
        text-align: center;

        @media(max-width: 575.99px) {
            text-align: left; 
        }
    }

    @include e(title) {
        font-size: 28px;

        @media(min-width: 576px) {
            font-size: 24px
        }
    }

    @include e(subtitle) {
        margin-top: var(--spacing-sm);
        font-size: 20px;
        line-height: 1.3;
        font-weight: 400;

        @media(min-width: 576px) {
            font-size: 16px;
        }
    }
}