.prices {
    padding-top: var(--spacing-09);
    padding-bottom: var(--spacing-09);
    border-radius: $border-radius-sm;

    @include m("light") {
        background-color: $secondary;
        margin-left: 13px !important;
        margin-right: 13px !important;

        .prices__content {
            padding-left: var(--spacing-03);
            padding-right: var(--spacing-03);
        }

        .card-prices--highlight {
            background: $white;
            color: #1e2c71;
        }
    }

    @media (min-width: 992px) {
        max-width: $max-width;
        padding-top: var(--spacing-09);
        padding-bottom: var(--spacing-09);
        margin-left: auto !important;
        margin-right: auto !important;
    }

    @include e("title") {
        margin-top: var(--spacing-00);
        margin-bottom: var(--spacing-00);
        font-size: var(--ht-four);

        color: $primary-ligth;
        @media (min-width: 992px) {
            font-size: var(--ht-three);
        }
    }

    @include e("subtitle") {
        margin-top: var(--spacing-05);
        margin-bottom: var(--spacing-00);
        font-size: var(--ht-body-l);
        color: $primary;  

        @media (min-width: 992px) {
            padding-left: var(--spacing-10);
            padding-right: var(--spacing-10);
            font-size: var(--ht-five);
        }
    }

    @include e("list") {
        margin-top: var(--spacing-08);

        @media (min-width: 992px) {
            margin-top: var(--spacing-09);
        }
    }

    &__col + &__col {
        margin-top: var(--spacing-04);

        @media (min-width: 992px) {
            margin-top: var(--spacing-0);       
        }
    }
}