.services {
    background: $secondary;
    border-radius: $border-radius-sm;
    padding-top: var(--spacing-04);
    padding-bottom: var(--spacing-04);
    margin-top: var(--spacing-09);

    @media (min-width: 992px) {
        padding: var(--spacing-08) var(--spacing-07);
    }


    &__col+&__col {
        margin-top: var(--spacing-04);

        @media (min-width: 992px) {
            margin-top: var(--spacing-00);
        }
    }

    @include m("vertical") {
        margin-top: var(--spacing-00);
        
        .services__col + .services__col {
            margin-top: var(--spacing-04);
        }
    }
}