{{#extend "layouts/page"}}

{{!-- Set the page title --}}
{{#content "title"}}Home slider video{{/content}}
{{#content "css"}}

{{/content}}
{{!-- Set the page content --}}
{{#content "content"}}
    {{>"organisms/_o-carousel-video"}}
    {{>"organisms/_o-articles"}}
    {{>"organisms/_o-features-full"}}
    {{>"organisms/_o-features"}}
    {{>"organisms/_o-features-bg"}}
    {{>"organisms/_o-values"}}
    {{>"organisms/_o-prices"}}
    {{>"organisms/_o-contact-section"}}
{{/content}}
{{#content "modal"}}
{{/content}}
{{#content "script"}}

{{/content}}
{{/extend}}