{{#extend "layouts/page"}} 
{{!-- Set the page title --}} 
{{#content
"title"}}Indice{{/content}} 
{{#content "css"}} 
{{/content}} 
{{!-- Set the page content --}}
{{#content "content"}}

<div class="container">
  <div class="content">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">
            Indice de páginas
          </li>
        </ol>
      </nav>
    </div>
    <div class="container my-5">
      <h2>Indice de páginas</h2>
      <ol>
        <li>
          <a class="dropdown-item" href="index.html">INICIO</a>
        </li>
        <li>
          <a class="dropdown-item" href="home-slider.html">HOME SLIDER</a>
        </li>
        <li>
          <a class="dropdown-item" href="home-slider-full.html">HOME SLIDER FULL</a>
        </li>
        <li>
          <a class="dropdown-item" href="home-slider-video.html">HOME SLIDER VIDEO</a>
        </li>
        <li>
          <a class="dropdown-item" href="home-video-full.html">HOME VIDEO FULL</a>
        </li>
        <li>
          <a class="dropdown-item" href="archive-blog.html">BLOG</a>
        </li>
        <li>
          <a class="dropdown-item" href="post.html">ENTRADA DE BLOG</a>
        </li>
        <li>
          <a class="dropdown-item" href="single-page.html">SINGLE PAGE</a>
        </li>
        <li>
          <a class="dropdown-item" href="typography.html">PAGINA GENERICA</a>
        </li>
        <li>
          <a class="dropdown-item" href="gallery.html">GALERIA</a>
        </li>
        <li>
          <a class="dropdown-item" href="products-list.html">LISTADO PRODUCTOS</a>
        </li>
        <li>
          <a class="dropdown-item" href="product-details.html">DETALLE PRODUCTO</a>
        </li>
        <li>
          <a class="dropdown-item" href="profiles-list.html">LISTADO PERFILES</a>
        </li>
        <li>
          <a class="dropdown-item" href="profile-details.html">DETALLE PERFIL</a>
        </li>
        <li>
          <a class="dropdown-item" href="contact.html">CONTACTO</a>
        </li>
      </ol>
    </div>
  </div>
</div>
{{/content}}
{{#content "modal"}}
{{/content}}
{{#content "script"}}
{{/content}}
{{/extend}}
