{{#extend "layouts/page"}}

{{!-- Set the page title --}}
{{#content "title"}}Listado de productos{{/content}}
{{#content "css"}}

{{/content}}
{{!-- Set the page content --}}
{{#content "content"}}
<div class="content products">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Listado de productos</li>
            </ol>
        </nav>
    </div>
    <header class="products__header text-center">
        <div class="container">
            <h1 class="products__title fw-bold">
                Tienda
            </h1>
            <h3 class="products__subtitle fw-bold">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus rhoncus euismod elit egestas tempor. Ut
                faucibus ex convallis semper tincidunt.
            </h3>
            <p class="features__body">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veniam, repellat. Illo dolorum dolor error quaerat delectus, eveniet pariatur laudantium voluptatum in doloribus officia accusamus tenetur aliquid hic totam doloremque beatae. Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, nisi. Ut, voluptatibus consequuntur quis quam, ea laborum mollitia quas in alias, officia iusto vero repellendus repellat aut consectetur adipisci? Sapiente! Enim, dolorum.
            </p>
        </div>
    </header>
    <div class="container">
        <div class="row products__list">
            {{#repeat count=24}}
            <div class="col-md-6 col-lg-4 col-xl-3 mb-4">
                {{>"molecules/_m-card-products"}}
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3 mb-4">
                <article class="card-products card text-center h-100">
                    <img src="img/port.webp" class="card-products__img card-img-top img-fluid" alt="..." loading="lazy" width="414" height="220">
                    <span class="badge card-features__badge position-absolute">Otra categoria</span>
                    <div class="card-products__body">
                        <h3 class="card-products__title fw-bold"><a class="no-deco" href="product-details.html">Nombre producto largo mas de una linea</a></h3>
                        <p class="card-products__text">Dispones de un panel para administrar todos los textos, imágenes y vídeos, opciones de menú y submenus, todo ello en un entorno fácil, usable y para los que no saben nada de informática.</p>
                        <a class="card-products__btn btn btn-primary" href="product-details.html">Ver detalle</a>
                    </div>
                </article>
            </div>
            {{/repeat}}
        </div>
        <div class="mt-5">
            <nav aria-label="navigation">
                <ul class="pagination mx-auto align-items-center justify-content-center">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>    
</div>

{{/content}}
{{#content "modal"}}
{{/content}}
{{#content "script"}}

{{/content}}
{{/extend}}