<footer class="footer">
  <div class="footer__content">
    {{>"atoms/logo"}}

    <ul class="footer__legal">
      <li class="footer__item"><a class="footer__link" href="/">Terms</a></li>
      <li class="footer__item">|</li>
      <li class="footer__item"><a class="footer__link" href="/">Privacy</a></li>
      <li class="footer__item">|</li>
      <li class="footer__item"><a class="footer__link" href="/">Support</a></li>
    </ul>
    {{>"molecules/social"}}
    <p class="footer__copyright">All rights reserved, © Moira.club 2022</p>
  </div>
</footer>