<section class="grid-card">
    <header class="grid-card__header">
        <h2 class="grid-card__title">
            {{grid-card-title}}
        </h2>
        <a href="" class="grid-card__more">
            See more {{>"atoms/chevron"}}
        </a>
    </header>
    <div class="grid-card__content">
        <div class="grid-card__item">
            {{>"molecules/card"
            card-title="Teach Duolingo Language"
            card-image="app01"
            card-body="Doctor Doofenhmirtz did it again! Whit his new device, he is really fasterrrrr"
            }}
        </div>
        <div class="grid-card__item">
            {{>"molecules/card"
            card-title="English Vocabulary"
            card-image="app02"
            card-body="Doctor Doofenhmirtz did it again! Whit his new device, he is really fasterrrrr"
            }}
        </div>
        <div class="grid-card__item">
            {{>"molecules/card"
            card-title="Anwser the Questions"
            card-image="app03"
            card-body="Doctor Doofenhmirtz did it again! Whit his new device, he is really fasterrrrr"
            }}
        </div>
    </div>
</section>