<header class="header">
    <div class="header__content">
       <button class="header__button js-menu">{{>"atoms/menu-icon"}}</button> 
       {{>"atoms/logo"}}
    </div>
    


    <nav class="nav">
        <ul class="nav__content">
            <li class="">
                <a class="nav__link" href="/">
                    <div class="nav__body">
                        <div class="icon">
                            {{>"atoms/play"}}
                        </div>
                        <p>Play</p>
                    </div>
                </a>
            </li>
            <li class="">
                <a class="nav__link" href="/">
                    <div class="nav__body">
                        <div class="icon">
                            {{>"atoms/learn"}}
                        </div>
                        <p>Learn</p>
                    </div>
                </a>
            </li>
            <li class="">
                <a class="nav__link" href="/">
                    <div class="nav__body">
                        <div class="icon">
                            {{>"atoms/enjoy"}}
                        </div>
                        <p>Enjoy</p>
                    </div>
                </a>
            </li>
            <li class="">
                <a class="nav__link" href="/">
                    <div class="nav__body">
                        <div class="icon">
                            {{>"atoms/fitness"}}
                        </div>
                        <p>Fitness</p>
                    </div>
                </a>
            </li>
        </ul>
    </nav>
</header>