<aside class="sidebar">
    <header class="sidebar__header">

        {{>"atoms/logo"}}
        <button type="button" class="sidebar__close js-close-menu" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </header>
    <nav class="nav">
        <ul class="nav__content">
            <li class="nav__item">
                <a class="nav__link" href="/">
                    <div class="nav__body">
                        <div class="icon icon--play">
                            {{>"atoms/play"}}
                        </div>
                        <p>PLAY</p>
                    </div>
                    {{>"atoms/chevron"}}
                </a>
            </li>
            <li class="nav__item">
                <a class="nav__link" href="/">
                    <div class="nav__body">
                        <div class="icon icon--learn">
                            {{>"atoms/learn"}}
                        </div>
                        <p>Learn</p>
                    </div>
                    {{>"atoms/chevron"}}
                </a>
            </li>
            <li class="nav__item">
                <a class="nav__link" href="/">
                    <div class="nav__body">
                        <div class="icon icon--enjoy">
                            {{>"atoms/enjoy"}}
                        </div>
                        <p>Enjoy</p>
                    </div>
                    {{>"atoms/chevron"}}
                </a>
            </li>
            <li class="nav__item">
                <a class="nav__link" href="/">
                    <div class="nav__body">
                        <div class="icon icon--fitness">
                            {{>"atoms/fitness"}}
                        </div>
                        <p>Fitness</p>
                    </div>
                    {{>"atoms/chevron"}}
                </a>
            </li>
        </ul>
    </nav>
    <footer class="sidebar__footer">
        <div class="sidebar__actions">
            <div class="sidebar__icons">
                <a href="/" class="sidebar__btn sidebar__btn--rounded">
                    {{>"atoms/user"}}
                </a>
            </div>
            <div class="sidebar__icons">
                <a href="/" class="sidebar__btn sidebar__btn--rounded">
                    {{>"atoms/questions"}}
                </a>
            </div>
            <div class="sidebar__icons">
                <a href="/" class="sidebar__btn sidebar__btn--rounded">
                    {{>"atoms/world"}}
                </a>
            </div>
            <div>
                <a href="/" class="sidebar__link">
                    English ▼
                </a>
            </div>
        </div>
        <div class="social__icons">
            <a href="/" class="sidebar__btn">
                <div class="sidebar__icon">
                    {{>"atoms/google-play"}}
                </div>
                INSTALL MOIRA APP
            </a>
        </div>
    </footer>
</aside>