@include b(banner) {
    position: relative;

    @include e(bg) {
        width: 100%;
        height: 300px;
        object-fit: cover;


        @media(min-width: 576px) {
            height: 413px;
        }
        
    }

    @include e(logo) {
        width: 190px;
        height: auto;
        @media(min-width: 576px) {
            width: 250px;
        }
    }

    @include e(content) {
        position: absolute;
        top: 3%;
        left: 3%;

        @media(min-width: 576px) {
            top: 15%;
            left: 6%;
        }
    }

    @include e(title) {
        font-size: 18px;
        font-weight: 400;
        color: var(--white);
    }

    @include e(button) {
        user-select: none;
        -webkit-appearance: none;
        display: inline-block;
        margin-top: var(--spacing-md);
        padding: var(--spacing-md) var(--spacing-xl);
        background-color: #d84848;
        background-image: linear-gradient(-180deg, #d84848, #b62525);
        box-shadow: 0 4px 0 0 #750d0d;
        border-radius: var(--border-sm);
        color: var(--white);
        font-size: 20px;
        font-weight: 600;
        text-shadow: 2px 1px 4px rgba(19, 16, 16, 0.616);
        text-decoration: none;

        &:active {
            box-shadow: 0 0px 0 0 #b62525, 0 3px 0 0 rgba(0, 0, 0, 0), 0 4px 16px rgba(0, 0, 0, 0), 0 1px 2px 1px rgba(0, 0, 0, .5) inset, 0 -18px 32px -2px rgba(255, 255, 255, .1) inset;
            color: #700f0f;
            text-shadow: 0 1px 0 rgba(255, 255, 255, .3);
            transition: 0s;
            transform: translateY(3px);
        }
    }
}