@include b(card) {
    width: 376px;
    border-radius: var(--border);
    background-color: var(--white);
    box-shadow: 0px 3px 7px 1px rgba(0, 0, 0, 0.15);

    @media(min-width: 576px) {
        width: 100%;

        &:hover {
            box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);

            .card__media {
                img {
                    transform: var(--scale);
                }
            }
        }
    }

    @include e(link) {
        text-decoration: none;
        color: var(--dark);
    }

    @include e(media) {
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        object-fit: cover;
        height: 220px;
        border-top-left-radius: var(--border);
        border-top-right-radius: var(--border);

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            transition: 1s;
        }
    }

    @include e(content) {
        display: flex;
        align-items: center;
        padding: var(--spacing-md) var(--spacing);
    }

    @include e(body) {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: space-between;
    }

    @include e(thumbnails) {
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        height: 80px;
        width: 70px;
        margin-right: 8px;


        img {
            border-radius: var(--border);
            width: 100%;
            height: 100%;
        }
    }

    @include e(title) {
        font-weight: 500;
        font-size: 14px;
    }

    @include e(actions) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: var(--spacing);
    }

    @include e(paragraph) {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        margin-top: var(--spacing-sm);
        font-size: 12px;
        line-height: 1.4;
        color: var(--grey);
    }

    @include e(button) {
        user-select: none;
        -webkit-appearance: none;
        padding: var(--spacing-sm) var(--spacing-md);
        background-color: var(--blue);
        border-radius: var(--border-sm);
        font-size: 15px;
        text-decoration: none;
        color: var(--white);

        &:hover {
            background-color: darken(#2fc4ee, 6);
        }
    }
}