@include b(banner) {
    position: relative;

    @include e(bg) {
        width: 100%;
        height: auto;

        img {
            width: 100%;
            height: auto;
        }

    }

    @include e(logo) {
        width: 250px;
        height: auto;
    }

    @include e(content) {
        position: absolute;
        top: 15%;
        left: 6%;
    }

    @include e(title) {
        font-size: 18px;
        font-weight: 400;
        color: var(--white);
    }

    @include e(button) {
        user-select: none;
        -webkit-appearance: none;
        display: inline-block;
        margin-top: var(--spacing-md);
        padding: var(--spacing-md) var(--spacing-xl);
        background-color: #d84848;
        background-image: linear-gradient(-45deg, #d84848, #b62525);
        box-shadow: 0 3px 0 0 #b62525, 0 4px 4px -1px rgba(0, 0, 0, .6), 0 4px 6px 1px rgba(0, 0, 0, 0.3), 0 1px 2px 1px rgba(0, 0, 0, 0) inset, 0 18px 32px -2px rgba(255, 255, 255, .1) inset;
        border-radius: var(--border-sm);
        color: var(--white);
        font-weight: 600;
        text-shadow: 0 1px 0 rgba(19, 16, 16, 0.616);
        text-decoration: none;

        &:active {
            box-shadow: 0 0px 0 0 #b62525, 0 3px 0 0 rgba(0, 0, 0, 0), 0 4px 16px rgba(0, 0, 0, 0), 0 1px 2px 1px rgba(0, 0, 0, .5) inset, 0 -18px 32px -2px rgba(255, 255, 255, .1) inset;
            color: #700f0f;
            text-shadow: 0 1px 0 rgba(255, 255, 255, .3);
            transition: 0s;
            transform: translateY(3px);
        }
    }
}