.card-features {

    color: $primary;

    & + & {
        margin-top: var(--spacing-07);
    }

    @include e("body") {
        padding: 0 var(--spacing-07) var(--spacing-08) var(--spacing-07);
    }

    @include e("img") {
        padding-bottom: var(--spacing-03);
        height: 197px;

        @include m("big") {
            height: 260px;
        }
    }

    @include e("icon") {
        padding-top: var(--spacing-06);
    }

    @include e("title") {
        margin-top: var(--spacing-05);
        margin-bottom: var(--spacing-00);
        font-size: var(--ht-five);
        line-height: 29px;
    }

    @include e("subtitle") {
        margin-top: var(--spacing-03);
        margin-bottom: var(--spacing-00);
        font-size: var(--ht-body-l);
        line-height: 27px;
    }

    @include e("text") {     
        margin-top: var(--spacing-03);  
        margin-bottom: var(--spacing-00);
        font-size: var(--ht-body-s);
        line-height: 21px;
    }

    @include e("btn") {
        margin-top: var(--spacing-06);
    }

    @include e("badge") {
        top: var(--spacing-03);
        left: var(--spacing-03);
        background-color: white;
        color: $primary;
    }

    .eva {
        width: 55px;
        height: 55px;
        fill: $primary-ligth;

        path {
            fill: $primary-ligth;
        }
    }
}