@include b("card-products") {
    @include e("img") {
        height: 180px;

        @media (min-width: 992px) {
            height: 220px;
        }
    }

    @include e("body") {

        padding: var(--spacing-04);

        @media (min-width: 992px) {
            padding: var(--spacing-05) var(--spacing-04);
        }
    }

    @include e("title") {
        font-size: var(--ht-body-l);

        @media (min-width: 992px) {
            font-size: var(--ht-body-xl);
        }
    }

    @include e("text") {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;

        @media (min-width: 992px) {
            -webkit-line-clamp: 3;
        }
    }

}