.navbar {
    font-size: var(--ht-body-s);
    color: $primary;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: var(--spacing-02);

    &-logo {
        max-height: 35px;
        @media (min-width: 992px) {
            max-height: 60px;
        }
    }

    &-toggler {
        border: 0;
    }

    .nav-link {
        color: $primary; 
    }

    .dropdown-toggle::after {
        margin-left: 0;
        border: 0;
    }
}

.dropdown-menu {
    background-color: $secondary;
    border: none;
    border-radius: $border-radius;
    font-size: var(--ht-body-s);
    
    @media (min-width: 992px) {
        box-shadow: 4px -3px 24px 0px hsla(0, 0%, 0%, 0.07);
        border-radius: $border-radius-lg;
    }
}