.page-item {

    &:last-child .page-link,
    &:first-child .page-link {
        border-radius: $border-radius-sm;
    }

    .page-link {
        background-color: $secondary;
        border-color: $secondary;
        border-radius: $border-radius-sm;
        margin-left: var(--spacing-03);
        margin-right: var(--spacing-03);
        width: 40px;
        height: 40px;
        font-size: var(--ht-body-s);
        display: flex;
        align-items: center;
        justify-content: center;

    }
}