<article class="card">
  <a class="card__link" href="">
    <div class="card__media">
      <img src="img/{{card-image}}.webp" alt="Card image" loading="lazy" />
    </div>
  
    <div class="card__content">
      <div>
        <div class="card__thumbnails">
          <img src="img/{{card-image}}.webp" alt="Card image" />
        </div>
      </div>
      <div class="card__body">
        <h3 class="card__title">{{card-title}}</h3>
        <div class="card__actions">
          <div class="card__rating">
            {{>"atoms/rating"}}
          </div>
          <div class="card__button">
            Get
          </div>
        </div>
        <p class="card__paragraph">
          {{card-body}}
        </p>
      </div>
    </div>
  </a>
</article>