<div class="social">
    <div class="social__icons">
        <a href="/" class="social__link">
            {{>"atoms/facebook"}}
        </a>
    </div>
    <div class="social__icons">
        <a href="/" class="social__link">
            {{>"atoms/instagram"}}
        </a>
    </div>
    <div class="social__icons">
        <a href="/" class="social__link">
            {{>"atoms/linkedin"}}
        </a>
    </div>
    <div class="social__icons">
        <a href="/" class="social__link">
            {{>"atoms/youtube"}}
        </a>
    </div>
</div>