@include b(block) {
    &+& {
        margin-top: var(--spacing-xxl);
    }

    @include e(header) {
        margin-bottom: var(--spacing-lg);
    }

    @include e(title) {
        display: flex;
        align-items: center;
        margin-left: var(--spacing-sm);
        font-size: 21px;
        line-height: 0;

        svg {
            height: 28px;
            width: 28px;
        }
    }

    @include e(link) {
        display: flex;
        align-items: center;
        text-decoration: none;
        
        svg {
            height: 28px;
            width: 28px;
        }

        @include m(play) {
            color: var(--blue);
        }

        @include m(learn) {
            color: var(--yellow);
        }

        @include m(enjoy) {
            color: var(--purple);
        }

        @include m(fitness) {
            color: var(--green);
        }
    }
}