@include b(footer) {
    margin-top: 130px;
    margin-bottom: var(--spacing-lg);
    font-size: 14px;

    @include e(content) {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        text-align: center;
    }

    @include e(legal) {
        display: inline;
        margin-top: var(--spacing-md);
    }

    @include e(item) {
        display: inline;
        color: var(--dark);
    }

    @include e(link) {
        text-decoration: none;
        color: var(--dark);

        &:hover {
            color: var(--grey);
            text-decoration: underline;
        }
    }

    @include e(copyright) {
        margin-top: var(--spacing-md);
    }
}